<!DOCTYPE html>
<html>
<head>
  <title>LikeMinded</title>

  <script src="https://use.fontawesome.com/1e4f616b98.js"></script>

  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME'] %>',
      upload_preset: '<%= ENV['UPLOAD_PRESET'] %>',
      theme: 'minimal'
    };
  </script>

  <script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA61OBfUX99eFZOZGJEScRInMIecJpSp4" type="text/javascript"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
